src/esp/sendMsgs/bcdc_elr_jws.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:conv="http://www.openuri.org/2002/04/soap/conversation/" xmlns:cw="http://www.openuri.org/2002/04/wsdl/conversation/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:jms="http://www.openuri.org/2002/04/wsdl/jms/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.openuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://www.openuri.org/">
  <types>

  </types>
  <message name="send_hl7_2x_xml_stream_batchSoapIn">
    <part name="dh" type="s:base64Binary"/>
  </message>
  <message name="send_hl7_2x_xml_stream_batchSoapOut">
    <part name="send_hl7_2x_xml_stream_batchResult" type="s:string"/>
  </message>
  <message name="send_hl7_2x_edi_batchSoapIn">
    <part name="dh" type="s:base64Binary"/>
  </message>
  <message name="send_hl7_2x_edi_batchSoapOut">
    <part name="send_hl7_2x_edi_batchResult" type="s:string"/>
  </message>
  <message name="send_smf_1x_batchSoapIn">
    <part name="dh" type="s:base64Binary"/>
  </message>
  <message name="send_smf_1x_batchSoapOut">
    <part name="send_smf_1x_batchResult" type="s:string"/>
  </message>
  <message name="send_ercc_hl7_2x_xml_stream_batchSoapIn">
    <part name="dh" type="s:base64Binary"/>
  </message>
  <message name="send_ercc_hl7_2x_xml_stream_batchSoapOut">
    <part name="send_ercc_hl7_2x_xml_stream_batchResult" type="s:string"/>
  </message>
  <message name="send_ercc_hl7_2x_edi_batchSoapIn">
    <part name="dh" type="s:base64Binary"/>
  </message>
  <message name="send_ercc_hl7_2x_edi_batchSoapOut">
    <part name="send_ercc_hl7_2x_edi_batchResult" type="s:string"/>
  </message>
  <message name="send_ercc_smf_1x_batchSoapIn">
    <part name="dh" type="s:base64Binary"/>
  </message>
  <message name="send_ercc_smf_1x_batchSoapOut">
    <part name="send_ercc_smf_1x_batchResult" type="s:string"/>
  </message>
  <message name="recv_hl7_2x_xml_stream_batchSoapIn">
    <part name="fromDate" type="s:dateTime"/>
    <part name="toDate" type="s:dateTime"/>
  </message>
  <message name="recv_hl7_2x_xml_stream_batchSoapOut">
    <part name="recv_hl7_2x_xml_stream_batchResult" type="s:base64Binary"/>
  </message>
  <message name="ack_recv_hl7_2x_xml_stream_batchSoapIn">
    <part name="exportId" type="s:string"/>
  </message>
  <message name="ack_recv_hl7_2x_xml_stream_batchSoapOut">
    <part name="ack_recv_hl7_2x_xml_stream_batchResult" type="s:string"/>
  </message>
  <message name="recv_ercc_smf_1x_batchSoapIn">
    <part name="fromDate" type="s:dateTime"/>
    <part name="toDate" type="s:dateTime"/>
  </message>
  <message name="recv_ercc_smf_1x_batchSoapOut">
    <part name="recv_ercc_smf_1x_batchResult" type="s:base64Binary"/>
  </message>
  <message name="ack_recv_ercc_batchSoapIn">
    <part name="exportId" type="s:string"/>
  </message>
  <message name="ack_recv_ercc_batchSoapOut">
    <part name="ack_recv_ercc_batchResult" type="s:string"/>
  </message>
  <portType name="bcdc_elrSoap">
    <operation name="send_hl7_2x_xml_stream_batch">
      <input message="s0:send_hl7_2x_xml_stream_batchSoapIn"/>
      <output message="s0:send_hl7_2x_xml_stream_batchSoapOut"/>
    </operation>
    <operation name="send_hl7_2x_edi_batch">
      <input message="s0:send_hl7_2x_edi_batchSoapIn"/>
      <output message="s0:send_hl7_2x_edi_batchSoapOut"/>
    </operation>
    <operation name="send_smf_1x_batch">
      <input message="s0:send_smf_1x_batchSoapIn"/>
      <output message="s0:send_smf_1x_batchSoapOut"/>
    </operation>
    <operation name="send_ercc_hl7_2x_xml_stream_batch">
      <input message="s0:send_ercc_hl7_2x_xml_stream_batchSoapIn"/>
      <output message="s0:send_ercc_hl7_2x_xml_stream_batchSoapOut"/>
    </operation>
    <operation name="send_ercc_hl7_2x_edi_batch">
      <input message="s0:send_ercc_hl7_2x_edi_batchSoapIn"/>
      <output message="s0:send_ercc_hl7_2x_edi_batchSoapOut"/>
    </operation>
    <operation name="send_ercc_smf_1x_batch">
      <input message="s0:send_ercc_smf_1x_batchSoapIn"/>
      <output message="s0:send_ercc_smf_1x_batchSoapOut"/>
    </operation>
    <operation name="recv_hl7_2x_xml_stream_batch">
      <input message="s0:recv_hl7_2x_xml_stream_batchSoapIn"/>
      <output message="s0:recv_hl7_2x_xml_stream_batchSoapOut"/>
    </operation>
    <operation name="ack_recv_hl7_2x_xml_stream_batch">
      <input message="s0:ack_recv_hl7_2x_xml_stream_batchSoapIn"/>
      <output message="s0:ack_recv_hl7_2x_xml_stream_batchSoapOut"/>
    </operation>
    <operation name="recv_ercc_smf_1x_batch">
      <input message="s0:recv_ercc_smf_1x_batchSoapIn"/>
      <output message="s0:recv_ercc_smf_1x_batchSoapOut"/>
    </operation>
    <operation name="ack_recv_ercc_batch">
      <input message="s0:ack_recv_ercc_batchSoapIn"/>
      <output message="s0:ack_recv_ercc_batchSoapOut"/>
    </operation>
  </portType>
  <binding name="bcdc_elrSoap" type="s0:bcdc_elrSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="send_hl7_2x_xml_stream_batch">
      <soap:operation soapAction="http://www.openuri.org/send_hl7_2x_xml_stream_batch" style="rpc"/>
      <input>
        <mime:multipartRelated>
          <mime:part>
            <soap:body use="encoded" namespace="http://www.openuri.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
          </mime:part>
          <mime:part>
            <mime:content part="dh" type="*/*"/>
          </mime:part>
        </mime:multipartRelated>
      </input>
      <output>
        <soap:body use="encoded" namespace="http://www.openuri.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="send_hl7_2x_edi_batch">
      <soap:operation soapAction="http://www.openuri.org/send_hl7_2x_edi_batch" style="rpc"/>
      <input>
        <mime:multipartRelated>
          <mime:part>
            <soap:body use="encoded" namespace="http://www.openuri.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
          </mime:part>
          <mime:part>
            <mime:content part="dh" type="*/*"/>
          </mime:part>
        </mime:multipartRelated>
      </input>
      <output>
        <soap:body use="encoded" namespace="http://www.openuri.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="send_smf_1x_batch">
      <soap:operation soapAction="http://www.openuri.org/send_smf_1x_batch" style="rpc"/>
      <input>
        <mime:multipartRelated>
          <mime:part>
            <soap:body use="encoded" namespace="http://www.openuri.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
          </mime:part>
          <mime:part>
            <mime:content part="dh" type="*/*"/>
          </mime:part>
        </mime:multipartRelated>
      </input>
      <output>
        <soap:body use="encoded" namespace="http://www.openuri.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="send_ercc_hl7_2x_xml_stream_batch">
      <soap:operation soapAction="http://www.openuri.org/send_ercc_hl7_2x_xml_stream_batch" style="rpc"/>
      <input>
        <mime:multipartRelated>
          <mime:part>
            <soap:body use="encoded" namespace="http://www.openuri.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
          </mime:part>
          <mime:part>
            <mime:content part="dh" type="*/*"/>
          </mime:part>
        </mime:multipartRelated>
      </input>
      <output>
        <soap:body use="encoded" namespace="http://www.openuri.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="send_ercc_hl7_2x_edi_batch">
      <soap:operation soapAction="http://www.openuri.org/send_ercc_hl7_2x_edi_batch" style="rpc"/>
      <input>
        <mime:multipartRelated>
          <mime:part>
            <soap:body use="encoded" namespace="http://www.openuri.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
          </mime:part>
          <mime:part>
            <mime:content part="dh" type="*/*"/>
          </mime:part>
        </mime:multipartRelated>
      </input>
      <output>
        <soap:body use="encoded" namespace="http://www.openuri.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="send_ercc_smf_1x_batch">
      <soap:operation soapAction="http://www.openuri.org/send_ercc_smf_1x_batch" style="rpc"/>
      <input>
        <mime:multipartRelated>
          <mime:part>
            <soap:body use="encoded" namespace="http://www.openuri.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
          </mime:part>
          <mime:part>
            <mime:content part="dh" type="*/*"/>
          </mime:part>
        </mime:multipartRelated>
      </input>
      <output>
        <soap:body use="encoded" namespace="http://www.openuri.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="recv_hl7_2x_xml_stream_batch">
      <soap:operation soapAction="http://www.openuri.org/recv_hl7_2x_xml_stream_batch" style="rpc"/>
      <input>
        <soap:body use="encoded" namespace="http://www.openuri.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <mime:multipartRelated>
          <mime:part>
            <soap:body use="encoded" namespace="http://www.openuri.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
          </mime:part>
          <mime:part>
            <mime:content part="recv_hl7_2x_xml_stream_batchResult" type="*/*"/>
          </mime:part>
        </mime:multipartRelated>
      </output>
    </operation>
    <operation name="ack_recv_hl7_2x_xml_stream_batch">
      <soap:operation soapAction="http://www.openuri.org/ack_recv_hl7_2x_xml_stream_batch" style="rpc"/>
      <input>
        <soap:body use="encoded" namespace="http://www.openuri.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="http://www.openuri.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
    <operation name="recv_ercc_smf_1x_batch">
      <soap:operation soapAction="http://www.openuri.org/recv_ercc_smf_1x_batch" style="rpc"/>
      <input>
        <soap:body use="encoded" namespace="http://www.openuri.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <mime:multipartRelated>
          <mime:part>
            <soap:body use="encoded" namespace="http://www.openuri.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
          </mime:part>
          <mime:part>
            <mime:content part="recv_ercc_smf_1x_batchResult" type="*/*"/>
          </mime:part>
        </mime:multipartRelated>
      </output>
    </operation>
    <operation name="ack_recv_ercc_batch">
      <soap:operation soapAction="http://www.openuri.org/ack_recv_ercc_batch" style="rpc"/>
      <input>
        <soap:body use="encoded" namespace="http://www.openuri.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="http://www.openuri.org/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <service name="bcdc_elr">
    <port name="bcdc_elrSoap" binding="s0:bcdc_elrSoap">
      <soap:address location="https://d1elr.diagnosisone.com:443/ws/d1/bcdc_elr.jws"/>
    </port>
  </service>
</definitions>

